body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;

}

input {
    width: 100%;
    padding: 10px ;
    
    box-sizing: border-box;
    border: 1px solid #5f9341;;
}

button {
    margin-top: 10px;
    padding: 10px;
   
    color: white;
    background-color: #5f9341;
    border-radius: 2px;
    border: none;
}